body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

#arbol-genealogico {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#arbol-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}

.node {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}


